@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 1rem;
}

span {
  text-decoration: underline;
  text-decoration-color: palevioletred;
}

.log-container {
  margin: 1rem 0;
}

.log {
  margin: 1rem 0;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 4px;
}

.date {
  font-size: 30px;
}

.mood {
  margin: 10px 0;
  font-size: 20px;
}

a {
  color: black;
}

h1 a {
  text-decoration: none;
}

.alert {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  background: white;
  width: max-content;
  display: none;
  margin-bottom: 1rem;
}

.alert a {
  color: palevioletred;
}

input,
button {
  padding: 0px 4px;
  outline: none;
  border: 2px solid black;
  border-radius: 2px;
  height: 30px;
  background: white;
  color: black;
  -webkit-text-fill-color: color;
}

hr {
  border: 1px solid black;
}
